body {
  background-image:url("./images/clouds_bg.jpg");
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0 1rem .5rem 1rem;
}

.navbar-brand {
  font-size: 2rem;
}

h2, label {
  color: #343A40;
}

input.weather-search {
  min-width: 400px;
  padding-left: 70px !important;
  background-image: url('./images/mg1.png');
  background-repeat: no-repeat;
  background-position: left 10px top 50%;
}

.white {
  color: #fefefe !important;
}

.gray {
  color: #ababab !important;
}

::placeholder {
  color: #ababab !important;
}

input.invalid {
  border-color: #dc3545;
}

div.invalid {
  color: #dc3545;
}

.react-toggle {
  margin: .5em 0 0 .5em;
}

.temp-scale-label {
  color: white;
  display: inline-block;
  margin: .5em 0 0 .5em;
}

.card {
  width: 31%; /* 48% - 2 col, 31% - 3 col */
  float: left;
  min-height: 305px;
  margin: 0 2% 2% 0;
  border-radius: 8px;
}

.card .card-body {
  padding-top: 1rem;
}

.card .container {
  padding-left: 0;
  padding-right: 0;
}

.card h1 {
  font-size: 3.3rem;
  font-weight: 500;
}

.card h4 {
  font-size: 2rem;
}

.card ul {
  padding-left: 0;
}

.card ul li {
  list-style-type: none;
}

.card ul.condition-details {
  font-size: .9rem;
  margin: .5em 0 0 0;
}

.card .temp > span {
  font-size: 1.4rem;
  color: #ccc;
}

.highlight { color: #05E177 !important; }
.highlight-secondary { color: #2D9DDD !important; }

.weather-icon {
  width: 150px;
  height: 150px;
  background-image: url("./images/weathericons.png");
  background-repeat: no-repeat;
}

.weather-icon.clearsky {
  background-position: -300px -300px;
}

.weather-icon.snow, .weather-icon.lightrainandsnow {
  background-position: -300px -150px;
}

.weather-icon.scatteredclouds, .weather-icon.brok-cloud {
  background-position: -300px 0px;
}

.weather-icon.lightrain,
.weather-icon.moderaterain,
.weather-icon.lightintensityshowerrain,
.weather-icon[class*="rain"]
{
  background-position: 0px -150px;
}

.weather-icon.showerrain {
  background-position: -150px -150px;
}

.weather-icon.fog, .weather-icon.haze, .weather-icon.mist  {
  background-position: -150px -450px;
}

.weather-icon.overcast clouds, .weather-icon.fewclouds {
  background-position: -300px -0px;
}
.weather-icon.thunderstorm {
  background-position: -450px -0px;
}
.weather-icon.noicon {
  background-image: none;
}

.jumbotron {
  opacity: .8;
  border-radius: 8px;
  padding-top: 38px;
  padding-bottom: 38px;
}

.jumbotron .h1, .jumbotron h1 {
  font-size: 63px !important;
  color: inherit !important;
}

.jumbotron p {
  font-size: 21px;
  font-weight: 200;
}

.jumbotron .main-cta a {
  border-radius: .25rem !important;
}

p.tagline {
  margin-bottom: 25px;
}

div.main-cta {
  padding: 5px;
}

.account .card {
  margin-top: 1em;
  width: 100%;
  min-height: 0;
  line-height: 2em;
}

.account .card a {
  margin-top: 1em;
}
